body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #EEEEEE;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, #c4d0d9, #d1d9dc, #dde2e3, #fff);
    padding: 8px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    height: 60px;
}

.inicio {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 20px;
}

.nav-right {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-right li {
    margin-right: 10px;
}

.nav-right li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.nav-right li a .icon {
    margin-right: 8px;
}

.body2 {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

form {
    padding: 50px 55px 85px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    border-radius: 20px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    background: linear-gradient(180deg, #DCF2F1, #7FC7D9, #365486, #0F1035, transparent 0%);
    box-sizing: border-box;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2 {
    color: #FFF;
    font-size: 35px;
    margin: 0;
}

p {
    font-size: 16px;
    color: #FFF;
    margin-bottom: 20px;
}

.line {
    display: inline-block;
    width: 50px;
    height: 7px;
    background-color: #FFF;
    margin-bottom: 20px;
}

label {
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input {
    padding: 17px 10px;
    border-radius: 10px;
    border: 2px solid #EDEDED;
    outline: none;
    color: white;
    background: rgba(0,0,0,0.5);
    margin-bottom: 20px;
}

input::placeholder {
    color: #C0C0C0;
}

.form-txt {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 10px;
}

.form-txt a {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.btn {
    font-size: 16px;
    color: #000;
    font-weight: 600;
    border: 0;
    border-radius: 25px;
    background: linear-gradient(180deg, #B3C8CF, #BED7DC);
    box-shadow: 0 0 20px #003C43;
    cursor: pointer;
}

.btn:hover {
    background: linear-gradient(180deg, #E3FEF7, #77B0AA);
    color: #000;
}

.back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

@media (max-width: 768px) {
    .nav-right {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-right li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .inicio {
        margin-left: 10px;
    }
}
